<h1>New Wing Order</h1>
<form class="new_wing_order" id="new_wing_order" action="/wing_orders" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="2PGpBg7eEvtrzp9P7+C4mGH1ieW0mg0w9c+1l1SgeK1+ra8GEg5iDkZ26nEVkjRJCkcjgmMjH5CLwdoI2d1XLA==">

  <%= form_for(@wing_order) do |f| %>
  <%= f.label :customer_name, "Full Name" %>
  <%= f.text_field :customer_name %>
</br>
<%= f.label :city, "City" %>
<%= f.text_field :city %>
</br>
<%= f.label :state, "State" %>
<%= f.select :state, options_for_select(@state_collection) %>
</br>
<%= f.collection_radio_buttons :quantity, @quantity_collection, :first, :second %>
</br>
<%= f.label :ranch_dressing, "Add Ranch Dressing" %>
<%= f.check_box :ranch_dressing %>
</br>
<%= f.collection_check_boxes :flavors, @flavor_collection, :id, :name %>
</br>
<%= f.submit "Place Order" %>
<% end %>
